---
layout: layouts/base.njk
title: Uutiskirje
---
<div class="prose page">
  <h1>Tilaa {{ site.name }}n uutiskirje</h1>
  <p>Viikon kuumimmat viihdeuutiset suoraan sähköpostiisi – julkkisten kuulumiset ja kuumimmat kohut.</p>
  <p class="newsletter__error" hidden>Tilaus ei onnistunut. Tarkista osoite ja yritä uudelleen.</p>
</div>
<div class="page newsletter-page">
  {% set formId = "sivu" %}{% include "partials/newsletter-form.njk" %}
</div>
<script>
  if (new URLSearchParams(location.search).has("virhe")) document.querySelector(".newsletter__error").hidden = false;
</script>
