---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /admin/
Sitemap: {{ '/sitemap.xml' | absUrl(site.url) }}
Sitemap: {{ '/news-sitemap.xml' | absUrl(site.url) }}
