---
layout: layouts/base.njk
title: Uusimmat
---
<header class="page-head">
  <h1>Uusimmat</h1>
</header>
<div class="grid grid--3">
  {% set cardClass = "" %}{% set showExcerpt = false %}
  {% for item in collections.artikkelit %}{% include "partials/card.njk" %}{% endfor %}
</div>
